<nav class="navbar navbar-expand-md navbar-dark bg-primary" *ngIf="loggedIn()">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Oasis Computer Sytems</a>
 
  <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/clients']">Clients</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/tickets']">Tickets</a>
    </li>
  </ul>

  <div *ngIf="loggedIn()" class="dropdown" dropdown>
    <span class="mr-1">
      <!-- <img src="{{ authService.currentUser.photoUrl }}" alt=""> -->
    </span>
    <a class="dropdown-toggle text-light" dropdownToggle>
      Welcome {{ authService.decodedToken?.unique_name | titlecase}}
    </a>
  
    <div class="dropdown-menu" *dropdownMenu>
      <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> Edit Profile</a>
      <div class="dropdown divider"></div>
      <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>
  </div>
</nav>