<form nz-form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
  <img class="mb-4  text-center" src="https://oasisoft.net/assets/img/logo-green-white.png" alt="oasis logo" />
  <h1 class="h3 mb-3 font-weight-normal  text-center">Please sign in</h1>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username">
      <nz-input-group nzPrefixIcon="user">
        <input nz-input type="text" name="username" id="username" placeholder="Username" required autofocus [(ngModel)]="model.username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input password">
    <nz-input-group nzPrefixIcon="lock">
      <input nz-input type="password" name="password" id="password" placeholder="Password" required [(ngModel)]="model.password" />
    </nz-input-group>
  </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button [disabled]="!loginForm.valid" nz-button nzType="primary" class="btn btn-lg btn-primary btn-block" type="submit" [nzLoading]="loading">Login</button>
    </nz-form-control>
  </nz-form-item>
  <p class="mt-5 mb-3 text-muted text-center">Oasis Computer Systems © 2019</p>
</form>
