<div class="container-fluid">
  <br>
  <div nz-row nzType="flex" nzJustify="space-between">
    <h3 nz-col nzSpan="12">Tickets List</h3>
    <button nz-button nzType="primary" nz-col nzSpan="12" [routerLink]="['/tickets/new']">New Ticket</button>
  </div>

  <form nz-form [nzLayout]="'inline'" class="ticket-form" #ticketForm="ngForm" (ngSubmit)="getTicketList()">

    <div nz-row nzGutter="24">

      <div nz-col [nzSpan]="24">
        <nz-card nzType="inner" nzTitle="Filter By">

          <nz-form-item nzFlex>

            <nz-form-label [nzSm]="2" nzNoColon nzFor="assignedTo">Assigned To</nz-form-label>
            <nz-form-control [nzSm]="5">
              <nz-select id="assignedTo" name="assignedTo" nzPlaceHolder="Assigned To" nzFor="assignedTo"
                [(ngModel)]="ticketParams.assignedToId">
                <nz-option *ngFor="let user of users" [nzValue]="user.id" [nzLabel]="user.fullNameEn">
                </nz-option>
              </nz-select>
            </nz-form-control>

            <nz-form-label [nzSm]="3" nzNoColon nzFor="clientName">Client Name</nz-form-label>
            <nz-form-control [nzSm]="5">
              <input nz-input type="text" id="clientName" name="clientName" placeholder="Client Name"
                [(ngModel)]="ticketParams.clientName" />
            </nz-form-control>

            <nz-form-label [nzSm]="3" nzNoColon nzFor="status">Status</nz-form-label>
            <nz-form-control [nzSm]="6">
              <nz-select id="status" name="status" nzPlaceHolder="Status" nzFor="status"
                [(ngModel)]="ticketParams.status">
                <nz-option *ngFor="let status of statuses" [nzValue]="status" [nzLabel]="status"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nzFlex>

            <nz-form-label [nzSm]="2" nzNoColon nzFor="priority">Priority</nz-form-label>
            <nz-form-control [nzSm]="5">
              <nz-select id="priority" name="priority" nzPlaceHolder="Priority" nzFor="priority"
                [(ngModel)]="ticketParams.priorityId">
                <nz-option *ngFor="let priority of priorities" [nzValue]="priority.id" [nzLabel]="priority.name">
                </nz-option>
              </nz-select>
            </nz-form-control>

            <nz-form-label [nzSm]="3" nzNoColon nzFor="ticketTypeId">Ticket Type</nz-form-label>
            <nz-form-control [nzSm]="5">
              <nz-select id="ticketTypeId" name="ticketTypeId" nzPlaceHolder="Ticket Type" nzFor="ticketTypeId"
                [(ngModel)]="ticketParams.ticketTypeId">
                <nz-option *ngFor="let ticketType of ticketTypes" [nzValue]="ticketType.id" [nzLabel]="ticketType.name">
                </nz-option>
              </nz-select>
            </nz-form-control>

            <nz-form-label [nzSm]="3" nzNoColon nzFor="systemModuleId">System Module</nz-form-label>
            <nz-form-control [nzSm]="6">
              <nz-select id="systemModuleId" name="systemModuleId" nzPlaceHolder="System Module" nzFor="systemModuleId"
                [(ngModel)]="ticketParams.systemModuleId">
                <nz-option *ngFor="let systemModule of systemModules" [nzValue]="systemModule.id"
                  [nzLabel]="systemModule.name">
                </nz-option>
              </nz-select>
            </nz-form-control>

          </nz-form-item>

          <nz-form-item nz-row nzFlex nzType="flex" nzJustify="end">
            <nz-form-control>
              <button nz-button nzType="primary" type="submit" [nzLoading]="loading">Filter</button>
              <button nz-button type="button" (click)="clear()">Clear</button>
            </nz-form-control>
          </nz-form-item>
        </nz-card>

      </div>

    </div>

    <br />

  </form>

  <br>

  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-card style="width:95%;" nzTitle="Active Tickets (0)">
        <nz-table nzSize="small" [nzShowPagination]="false" #activeTicketTable [nzData]="clientsActiveTickets">
        <thead>
          <tr>
            <th *ngFor="let column of activeTicketColumns"> {{ column.columnName }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activeTickets of activeTicketTable.data">
            <td>{{ activeTickets.clientId }}</td>
            <td>{{ activeTickets.clientName }}</td>
            <td>{{ activeTickets.noOfTickets | number }}</td>
            <td>{{ activeTickets.accountManager }}</td>
          </tr>
        </tbody>
      </nz-table>
      </nz-card>
    </div>

    <div nz-col nzSpan="18">
      <nz-table nzSize="small" #ticketTable [nzLoading]="loading" nzShowSizeChanger [nzShowPagination]="true"
        [nzFrontPagination]="false" [nzPageIndex]="pagination.currentPage" [nzPageSize]="pagination.itemsPerPage"
        [nzTotal]="pagination.totalItems" [nzPageSizeOptions]="PageSizeOptions"
        (nzPageIndexChange)="pageChanged($event, 'PageIndexChange')"
        (nzPageSizeChange)="pageChanged($event, 'PageSizeChange')" [nzData]="tickets">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th *ngFor="let column of ticketColumns" nzShowSort nzSortKey="{{ column.sortKey }}"> {{ column.columnName }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of ticketTable.data">
            <td>{{ ticket.assignedTo }}</td>
            <td>{{ ticket.ticketNo }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.priority }}</td>
            <td>{{ ticket.ticketType }}</td>
            <td>{{ ticket.client.nameEn }}</td>
            <td>{{ ticket.systemModule }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.problemDescription }}</td>
            <td>{{ ticket.reminders }}</td>
            <td>{{ ticket.submittedBy }}</td>
            <td>{{ ticket.submittedOn | date }}</td>
            <td>
              <button nz-button [nzSize]="'small'" type="button" nzType="primary"
                [routerLink]="['/clients', ticket.id]">Edit</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

  </div>
</div>