<div class="container-fluid">
  <br />
  
  <div nz-row nzType="flex" nzJustify="space-between">
    <h3 nz-col nzSpan="12">Clients List</h3>
    <button nz-button nzType="primary" nz-col nzSpan="12" [routerLink]="['/clients/new']">New Client</button>
  </div>

  <form nz-form [nzLayout]="'inline'" class="ticket-form" #ticketForm="ngForm" (ngSubmit)="getClientsList()">

    <div nz-row nzGutter="24">

      <div nz-col [nzSpan]="24">
        <nz-card nzType="inner" nzTitle="Filter By">

          <nz-form-item nzFlex>
            <nz-form-label [nzSm]="1" nzNoColon nzFor="name">Name</nz-form-label>
            <nz-form-control [nzSm]="6">
              <input nz-input type="text" id="name" name="name" placeholder="Name" [(ngModel)]="clientParams.name" />
            </nz-form-control>

            <nz-form-label [nzSm]="2" nzNoColon nzFor="country">Country</nz-form-label>
            <nz-form-control [nzSm]="6" nzErrorTip="Please select country">
              <nz-select id="country" name="country" nzPlaceHolder="Country" nzFor="country"
                [(ngModel)]="clientParams.countryId">
                <nz-option *ngFor="let country of countries" [nzValue]="country.id" [nzLabel]="country.name">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-row nzFlex nzType="flex" nzJustify="end">
            <nz-form-control>
              <button nz-button nzType="primary" type="submit" [nzLoading]="loading">Filter</button>
              <button nz-button type="button" (click)="clear()">Clear</button>
            </nz-form-control>
          </nz-form-item>
        </nz-card>

      </div>

    </div>

    <br />

  </form>

  <br>

  <div nz-row>
    <nz-table nzSize="small" #clientTable [nzLoading]="loading" nzShowSizeChanger [nzShowPagination]="true"
      [nzFrontPagination]="false" [nzPageIndex]="pagination.currentPage" [nzPageSize]="pagination.itemsPerPage"
      [nzTotal]="pagination.totalItems" [nzPageSizeOptions]="PageSizeOptions"
      (nzPageIndexChange)="pageChanged($event, 'PageIndexChange')"
      (nzPageSizeChange)="pageChanged($event, 'PageSizeChange')" [nzData]="clients">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th *ngFor="let column of columns" nzShowSort nzSortKey="{{ column.sortKey }}"> {{ column.columnName }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientTable.data">
          <td>{{ client.id}}</td>
          <td>{{ client.nameEn}}</td>
          <td>{{ client.nameAr}}</td>
          <td>{{ client.address}}</td>
          <td>{{ client.vATNo }}</td>
          <td>{{ client.telephoneNumber }}</td>
          <td>{{ client.country }}</td>
          <td>{{ client.technicalDetails }}</td>
          <td>{{ client.createdBy }}</td>
          <td>{{ client.createdOn | date }}</td>
          <td>{{ client.updatedBy }}</td>
          <td>{{ client.updatedOn | date }}</td>
          <td>
            <button nz-button [nzSize]="'small'" type="button" nzType="primary"
              [routerLink]="['/clients', client.id]">Edit</button>
            <button nz-button [nzSize]="'small'" type="button" nzType="danger" (click)="showDeleteConfirm(client.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>